$colorTheme: #FF6060;

body {
  position: relative;
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FF6060;
}

.App {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 10px 210px 10px;
}
