$colorTheme: #FF6060;

body {
  position: relative;
  font-family: Montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FF6060;
}

.App {
  margin: 0 auto;
  max-width: 1240px;
  padding-bottom: 210px;
}

@media (max-width: 992px) and (min-width: 320px) {
  .App {
    max-width: 340px;
    padding-bottom: 20px;
  }
}