ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

.collapse {
  width: calc(100% - 20px);
  height: 20px;
  border-radius: 10px;
  background-color: #FF6060;
  color: white;
  padding: 10px;
}

.collapse-title {
  display: flex;
  justify-content: space-between;
}

.collapse-body {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 500ms 300ms ease-in-out, visibility 500ms ease-in-out, opacity 500ms ease-in-out;
  background-color: #F6F6F6;
  border-radius: 0 0 10px 10px;
  margin-bottom: 50px;
}

.collapse-body.is-active {
  transition: max-height 500ms ease-in-out, visibility 500ms 300ms ease-in-out, opacity 500ms 300ms ease-in-out;
  visibility: visible;
  max-height: 280px;
  opacity: 1;
}

.collapse-icon {
  width: 16px;
  height: 12px;
  transition: transform 200ms ease-in-out;
}

.collapse-icon.opened {
  transform: rotate(180deg);
}

.collapse-text-title {
  margin: 0;
}

@media (max-width: 992px) and (min-width: 320px) {
  .collapse-body {
    margin-bottom: 20px;
  }
}