
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  height: 210px;
  p {
    margin: 30px 0 30px 0;
    font-size: 24px;
    color: white;
  }
  img {
    margin-bottom: 30px;
  }
}