@use './app.scss';

.header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  white-space: nowrap;
  a {
    color: app.$colorTheme;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  a.active {
    text-decoration: underline;
  }
  .home {
    margin-right: 10px;
  }
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  width: 28%;
  max-width: 300px;
}

@media (max-width: 992px) and (min-width: 340px) {
  .logo-kasa {
    max-width: 145px;
  }
  .headerLinks {
    text-transform: uppercase;
    font-size: 12px;
    width: 45%;
  }
}