p {
  margin: 0;
}

.infos-container {
  display: flex;
  justify-content: space-between;
}

.collapses-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.collapse-wrapper {
  width: 45%;
}

.big-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 992px) and (min-width: 320px) {
  .infos-container {
    flex-direction: column;
  }

  .big-title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 14px;
  }
  .host-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .collapses-container {
    flex-direction: column;
  }
  .collapse-wrapper {
    width: 100%;
  }
}