.tags {
  text-align: center;
  height: 25px;
  border-radius: 10px;
  margin-right: 10px;
  padding: 0 10px 0 10px;
  background-color: #FF6060;
  color: white;
}

.tags-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

p {
  margin: 0;
}